
.station {
    fill: black;
}
.stationhollow, .stop {
    fill: white;
}
.transfer {
    stroke: black;
    fill: none;
    stroke-linecap: round;
}
.transferhollow {
    stroke: white;
    fill: none;
    stroke-linecap: round;
}

.name {
    alignment-baseline: central;
    text-anchor: middle;
    font-family: "Droid Sans";
}

.line {
    stroke-linecap: round;
    stroke: black;
    fill: none;
}
.linehollow.trolley {
    stroke: white;
    stroke-width: 0.5px;
    stroke-linecap: round;
    fill: none;
}
.linehollow.lrv {
    stroke: none;
    stroke-width: 0;
    fill: none;
}

.coastline {
    stroke: #a1beff;
    stroke-width: 0.5px;
    fill: #fefefe;
}
.water {
    stroke: none;
    fill: #c9defe;
}

.line-A {
    stroke: #00A0E2;
}
.line-B {
    stroke: #E87511;
}
.line-K {
    stroke: #751056;
}
.line-R {
    stroke: #D799AF;
}
.line-S {
    stroke: #007229;
}
.line-T {
    stroke: #894E24;
}
.line-U {
    stroke: #DC241F;
}
.line-V {
    stroke: #FFCE00;
}

.line-C {
    stroke: #95CDBA;
}
.line-E {
    stroke: #0019a8;
}
.line-F {
    stroke: #00a4a7;
}
.line-J {
    stroke: #86c141;
}
.line-L {
    stroke: #A0A5A9;
}
.line-M {
    stroke: #E21836;
}
.line-N {
    stroke: #00a4a7;
}
.line-O {
    stroke: #7156A5;
}
.line-P {
    stroke: #333366;
}
