
.station, .stop {
    fill: white;
}
.transfer {
    stroke: black;
    fill: none;
    stroke-linecap: round;
}
.transferhollow {
    stroke: white;
    fill: none;
    stroke-linecap: round;
}

.name {
    alignment-baseline: central;
    text-anchor: middle;
    font-family: "Droid Sans";
}

.line {
    stroke-linecap: round;
    stroke: black;
    fill: none;
}
.linehollow.trolley {
    stroke: white;
    stroke-width: 0.5px;
    stroke-linecap: round;
    fill: none;
}
.linehollow.lrv {
    stroke: none;
    stroke-width: 0;
    fill: none;
}

.coastline {
    stroke: none;
    fill: #eeeeee;
}

.line-A {
    stroke: #0098D4;
}
.line-B {
    stroke: #00782A;
}
.line-G {
    stroke: #000000;
}
.line-K {
    stroke: #FFD300;
}
.line-R {
    stroke: #EE7C0E;
}
.line-S {
    stroke: #9B0056;
}
.line-T {
    stroke: #E32017;
}
.line-U {
    stroke: #B36305;
}
.line-V {
    stroke: #F3A9BB;
}

.line-C {
    stroke: #95CDBA;
}
.line-E {
    stroke: #A0A5A9;
}
.line-F {
    stroke: #00A4A7;
}
.line-J {
    stroke: #003688;
}
.line-L {
    stroke: #84B817;
}
.line-M {
    stroke: #E21836;
}
.line-N {
    stroke: #66CCCC;
}
.line-O {
    stroke: #7156A5;
}
.line-P {
    stroke: #333366;
}
